# ASSIGNMENT 6



---



---

# 1 &nbsp; **Linear Regression**

---
Mounting Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
cd /content/gdrive/MyDrive/Colab/DS203/Assignment_6

/content/gdrive/MyDrive/Colab/DS203/Assignment_6

---
Importing Libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

---
Loading Dataset

In [4]:
data = pd.read_excel("dataset_1.xlsx", skiprows = 1, header = None)
data = data.iloc[:, 1:] # To remove the 'No' column 
data.head()

             1     2          3   4         5          6     7
0  2012.916667  32.0   84.87882  10  24.98298  121.54024  37.9
1  2012.916667  19.5  306.59470   9  24.98034  121.53951  42.2
2  2013.583333  13.3  561.98450   5  24.98746  121.54391  47.3
3  2013.500000  13.3  561.98450   5  24.98746  121.54391  54.8
4  2012.833333   5.0  390.56840   5  24.97937  121.54245  43.1

According to the dataset the features are as follows:\
X1 = **The transaction date**\
X2 = **The house age**\
X3 = **The distance of the nearest MRT station**\
X4 = **The number of convenience stores in the living circle on foot**\
X5 = **Latitude**\
X6 = **Longitude**

While the output is:\
Y = **House price of unit area**

---
Linear Regression Function

In [5]:
def myLR(data, split):
    df = data.copy()
    X = np.array(df.iloc[:, :6]) # Takes the first 6 columns
    Y = np.array(df.iloc[:, 6]) # Takes the last output column
    
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = split) # Splits the dataset acc. to split ratio
    LR = LinearRegression()
    LR.fit(X_train, Y_train) # Fitting the model on training data

    Y_predict = LR.predict(X_test) # Predicting all the test data
    
    score = r2_score(Y_test, Y_predict) # Calculating the r2 score aginst the test value and predicted values
    mse = mean_squared_error(Y_test, Y_predict) # The mean squared error of the model
    
    return [score, mse, LR.coef_.tolist(), LR.intercept_]

---
Different Splits for Linear Regression

In [6]:
splits = [0.1, 0.2, 0.3, 0.4]

---
r2 Value, Mean Squared Error, Coefficients and Intercept for each Split

In [7]:
dict1 = {}
# The values to report for different splits
keys = ['Split', 'r2 Value', 'Mean Squared Error', 'Coeff of X1', 'Coeff of X2', 'Coeff of X3', 'Coeff of X4', 'Coeff of X5', 'Coeff of X6', 'Intercept']

for col in keys:
  dict1[col] = []

# Storing each data in a dictionary for better representation
for split in splits:
  score, mse, coeff, intercept = myLR(data, split)
  dict1[keys[0]].append(split)
  dict1[keys[1]].append(score)
  dict1[keys[2]].append(mse)
  for i in range(6):
    dict1[keys[3+i]].append(coeff[i])
  dict1[keys[9]].append(intercept)

display(pd.DataFrame(dict1))

   Split  r2 Value  Mean Squared Error  ...  Coeff of X5  Coeff of X6     Intercept
0    0.1  0.642577           91.084705  ...   215.834587   -35.917356  -9949.343141
1    0.2  0.506750           92.313700  ...   209.534123    -0.684737 -14703.138771
2    0.3  0.620301           54.882220  ...   175.664473   -12.108507 -13075.001842
3    0.4  0.642386           62.874567  ...   214.295009     3.633729 -18806.752382

[4 rows x 10 columns]

---
Different Regression Parameter Values

In [8]:
lambdas = [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]

---
Ridge Regression

In [9]:
def myRidge(data, split):
  df = data.copy()
  X = np.array(df.iloc[:, :6])
  Y = np.array(df.iloc[:, 6])
    
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = split) # Splitting the data according to the split ratio

  scores, mses = [], []
  # Finding the scores and mses for each regression parameter
  for lambda_ in lambdas:
    RR = Ridge(alpha = lambda_)
    RR.fit(X_train, Y_train)
    Y_predict = RR.predict(X_test)

    scores.append(r2_score(Y_test, Y_predict))
    mses.append(mean_squared_error(Y_test, Y_predict))

  return scores, mses

Dsiplaying the r2 Value and Mean Squared Error for Ridge Regression

In [10]:
dict2 = {}
keys = ['Split', 'Lambda', 'r2 Value', 'Mean Squared Value']

for col in keys:
  dict2[col] = []

for split in splits:
  scores, mses = myRidge(data, split)
  for i, lambda_ in enumerate(lambdas):
    dict2[keys[0]].append(split)
    dict2[keys[1]].append(lambda_)
    dict2[keys[2]].append(scores[i])
    dict2[keys[3]].append(mses[i])

display(pd.DataFrame(dict2))

    Split  Lambda  r2 Value  Mean Squared Value
0     0.1   0.001  0.497841           99.117677
1     0.1   0.005  0.494920           99.694239
2     0.1   0.010  0.491785          100.313034
3     0.1   0.050  0.477803          103.072893
4     0.1   0.100  0.470813          104.452486
5     0.1   0.500  0.460939          106.401491
6     0.2   0.001  0.496922          113.570122
7     0.2   0.005  0.498302          113.258534
8     0.2   0.010  0.498853          113.134212
9     0.2   0.050  0.494975          114.009774
10    0.2   0.100  0.491110          114.882216
11    0.2   0.500  0.484693          116.330889
12    0.3   0.001  0.553186          104.867073
13    0.3   0.005  0.550509          105.495485
14    0.3   0.010  0.547658          106.164410
15    0.3   0.050  0.535606          108.993213
16    0.3   0.100  0.530057          110.295556
17    0.3   0.500  0.522599          112.045750
18    0.4   0.001  0.498293          105.091513
19    0.4   0.005  0.495105          105.759293
20    0.4   0.010  0.491517          106.510860
21    0.4   0.050  0.477007          109.550335
22    0.4   0.100  0.471092          110.789219
23    0.4   0.500  0.463794          112.318038

---
LASSO Regression

In [11]:
def myLASSO(data, split):
  df = data.copy()
  X = np.array(df.iloc[:, :6])
  Y = np.array(df.iloc[:, 6])
    
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = split)

  scores, mses = [], []
  for lambda_ in lambdas:
    LA = Lasso(alpha = lambda_)
    LA.fit(X_train, Y_train)
    Y_predict = LA.predict(X_test)

    scores.append(r2_score(Y_test, Y_predict))
    mses.append(mean_squared_error(Y_test, Y_predict))

  return scores, mses

---
Displaying the r2 Value and Mean Squared Error for LASSO Regression

In [12]:
dict3 = {}
keys = ['Split', 'Lambda', 'r2 Value', 'Mean Squared Value']

for col in keys:
  dict3[col] = []

for split in splits:
  scores, mses = myLASSO(data, split)
  for i, lambda_ in enumerate(lambdas):
    dict3[keys[0]].append(split)
    dict3[keys[1]].append(lambda_)
    dict3[keys[2]].append(scores[i])
    dict3[keys[3]].append(mses[i])

display(pd.DataFrame(dict3))

    Split  Lambda  r2 Value  Mean Squared Value
0     0.1   0.001  0.561307           62.311810
1     0.1   0.005  0.562674           62.117624
2     0.1   0.010  0.558519           62.707813
3     0.1   0.050  0.526083           67.315034
4     0.1   0.100  0.527027           67.180950
5     0.1   0.500  0.515167           68.865520
6     0.2   0.001  0.651194           79.884542
7     0.2   0.005  0.640515           82.330261
8     0.2   0.010  0.624306           86.042390
9     0.2   0.050  0.599348           91.758356
10    0.2   0.100  0.598870           91.867940
11    0.2   0.500  0.585800           94.861140
12    0.3   0.001  0.391039          120.415008
13    0.3   0.005  0.386519          121.308801
14    0.3   0.010  0.378035          122.986387
15    0.3   0.050  0.351952          128.144128
16    0.3   0.100  0.349548          128.619409
17    0.3   0.500  0.334782          131.539213
18    0.4   0.001  0.631039           68.381786
19    0.4   0.005  0.623749           69.732792
20    0.4   0.010  0.610582           72.173061
21    0.4   0.050  0.592714           75.484714
22    0.4   0.100  0.591430           75.722628
23    0.4   0.500  0.575877           78.605201

---
---
# 2 &nbsp; **Logistic Regression**

In [13]:
data = pd.read_table('haberman.data', sep = ',', header = None)
data.head()

    0   1  2  3
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

According to the dataset the features are as follows:\
X1 = **Age of patient at the time of operation**\
X2 = **Patient's year of operation**\
X3 = **Number of Positive axillary nodes detected**

While the output is:\
Y = **Survival Status**

*   Y = 1 --> *The patient survived five years or longer*
*   Y = 2 --> *The patient died within five years*

---
Logistic Regression Function

In [15]:
def myLogistic(data, split):
  df = data.copy()
  X = np.array(df.iloc[:, :3])
  Y = np.array(df.iloc[:, 3])
    
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = split)
  # Creating a Logistic Regression Modle and fitting it for train dataset
  LogR = LogisticRegression()
  LogR.fit(X_train, Y_train)

  # Predicting for the test features
  Y_predict = LogR.predict(X_test)
  # Calculating the Classification Error 
  m = Y_predict.shape[0]
  cse = 0
  for i in range(m):
    if(Y_predict[i] != Y_test[i]):
      cse += 1
  
  cse = cse/m

  return cse, LogR.coef_.tolist(), LogR.intercept_.tolist()

---
Displaying the Coefficients, Intercept and Classification Error for each Split

In [17]:
dict4 = {}
keys = ['Split', 'Coeff of X1', 'Coeff of X2', 'Coeff of X3', 'Intercept', 'Classification Error']

for col in keys:
  dict4[col] = []

for split in splits:
  dict4[keys[0]].append(split)
  cse, coeffs, intercept = myLogistic(data, split)
  for i in range(3):
    dict4[keys[i+1]].append(coeffs[0][i])
  dict4[keys[4]].append(intercept[0])
  dict4[keys[5]].append(cse)

display(pd.DataFrame(dict4))

   Split  Coeff of X1  ...  Intercept  Classification Error
0    0.1     0.021403  ...  -3.512218              0.225806
1    0.2     0.028975  ...  -1.109364              0.306452
2    0.3     0.029250  ...  -3.065256              0.228261
3    0.4     0.030939  ...  -0.000726              0.260163

[4 rows x 6 columns]

---
---